.main-header, .main-nav .nav, footer div, .profile-content, .portfolio div, .skills div {
  display: -ms-flexbox;
  display: flex; }

.main-header, .main-nav .nav, .profile-content, .portfolio div, .skills div {
  -ms-flex-direction: column;
  flex-direction: column; }

.bar1, .bar2, .bar3 {
  margin-top: 6px;
  margin-right: 0;
  margin-bottom: 6px;
  margin-left: 0;
  width: 35px;
  height: 5px;
  background-color: #000;
  transition: 0.4s; }

h2, h3, p, .main-nav .nav li {
  text-align: center; }

.skills h2, .skills h3, .skills p {
  color: #fff; }

h2, a {
  text-transform: uppercase; }

footer h4, footer .footer-logo {
  margin-right: auto; }

* {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f5f5f5; }

h1 {
  padding-top: 0.5em;
  padding-right: 0;
  padding-bottom: 1em;
  padding-left: 0;
  font-size: 1.5em; }

h2 {
  padding-top: 2.5em;
  padding-right: 0;
  padding-bottom: 2.5em;
  padding-left: 0;
  font-size: 1.1em; }

h3 {
  margin-top: 1em;
  margin-right: auto;
  margin-bottom: 1em;
  margin-left: auto;
  font-size: 1.25em;
  color: #808080; }

p {
  color: #808080;
  font-size: 0.9em; }
  @media (min-width: 768px) {
    p {
      font-size: 1em; } }

a {
  text-decoration: none;
  color: #000;
  font-weight: bold; }

img {
  max-width: 100%; }

.icon {
  margin: 0 auto; }
  .icon span {
    display: block; }
  @media (min-width: 768px) {
    .icon {
      display: none !important; } }

.change .bar1 {
  transform: rotate(-45deg) translate(-10px, -6px); }
.change .bar2 {
  transform: rotate(-90deg); }
.change .bar3 {
  transform: rotate(-315deg) translate(-6px, -21px); }

.main-header {
  padding-top: 1em;
  padding-right: 0;
  padding-bottom: 1em;
  padding-left: 0; }
  .main-header .header-logo {
    -ms-flex-item-align: center;
    align-self: center;
    text-transform: capitalize; }
  @media (min-width: 1024px) {
    .main-header {
      -ms-flex-direction: row;
      flex-direction: row;
      margin-top: 1.5em;
      margin-right: 0;
      margin-bottom: 1.5em;
      margin-left: 0; }
      .main-header .header-logo {
        margin-top: 0;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: 0; } }

.main-nav {
  display: none; }
  @media (min-width: 768px) {
    .main-nav {
      display: block !important; } }
  .main-nav .nav li {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0.5em;
    margin-left: 0;
    padding-top: 1em;
    padding-right: 0;
    padding-bottom: 1em;
    padding-left: 0;
    list-style-type: none;
    background-color: #fff; }
  @media (min-width: 768px) {
    .main-nav .nav {
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      .main-nav .nav li {
        background-color: inherit; } }
  @media (min-width: 1024px) {
    .main-nav .nav li {
      margin-top: 0.5em;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 2em; } }

.wrapper {
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 1024px) {
    .wrapper {
      max-width: 1024px; } }

footer {
  border-top: 1px solid #808080;
  margin: 0 auto;
  width: 90%; }
  footer div {
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 0.8em; }
  footer h4 {
    padding-top: 2em;
    padding-right: 0;
    padding-bottom: 2em;
    padding-left: 0;
    font-size: 1em; }
  footer .footer-nav {
    display: none; }
  @media (min-width: 768px) {
    footer .desktop-hide {
      display: none; }
    footer .footer-nav {
      display: -ms-flexbox;
      display: flex; }
      footer .footer-nav .nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin-top: 1.5em;
        margin-right: 0;
        margin-bottom: 1.5em;
        margin-left: 0; }
        footer .footer-nav .nav li {
          -ms-flex-item-align: center;
          align-self: center;
          margin-top: 0;
          margin-right: 0;
          margin-bottom: 0.5em;
          margin-left: 1em;
          list-style-type: none;
          background-color: inherit;
          text-align: center;
          font-size: 0.9em; }
    footer h4 {
      font-size: 1.25em; } }

.profile {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 3em;
  padding-left: 0; }
  @media (min-width: 768px) {
    .profile {
      margin-top: 1em;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 0; } }

.profile-image {
  padding-top: 1.5em;
  padding-right: 2em;
  padding-bottom: 1.5em;
  padding-left: 2em;
  margin: 0 auto;
  display: block; }
  @media (min-width: 768px) {
    .profile-image {
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0; } }
  @media (min-width: 1024px) {
    .profile-image {
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: auto; } }

@media (min-width: 768px) {
  .profile-content {
    -ms-flex-direction: row;
    flex-direction: row; }
    .profile-content p {
      padding-top: 0;
      padding-right: 1em;
      padding-bottom: 0;
      padding-left: 0.5em;
      -ms-flex: 1 0 60%;
      flex: 1 0 60%;
      -ms-flex-order: 1;
      order: 1;
      text-align: left;
      font-size: 1.25em; }
    .profile-content figure {
      -ms-flex: 1 0 40%;
      flex: 1 0 40%;
      -ms-flex-order: 2;
      order: 2; } }
@media (min-width: 1024px) {
  .profile-content p {
    padding-top: 0;
    padding-right: 1.8em;
    padding-bottom: 0;
    padding-left: 0; } }

.portfolio {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 3em;
  padding-left: 0;
  background-color: #fff; }
  .portfolio p {
    margin-top: 1em;
    margin-right: 0;
    margin-bottom: 3em;
    margin-left: 0; }
  @media (min-width: 768px) {
    .portfolio {
      padding-top: 1em;
      padding-right: 0;
      padding-bottom: 1em;
      padding-left: 0; }
      .portfolio div {
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
      .portfolio .portfolio-image {
        -ms-flex: 1 0 40%;
        flex: 1 0 40%;
        margin: 0.5em; }
      .portfolio p {
        margin-top: 1em;
        margin-right: 0;
        margin-bottom: 3em;
        margin-left: 0;
        padding-top: 0;
        padding-right: 1em;
        padding-bottom: 0;
        padding-left: 1em; } }
  @media (min-width: 1024px) {
    .portfolio {
      margin-top: 0;
      margin-right: 2em;
      margin-bottom: 0;
      margin-left: 2em; }
      .portfolio .portfolio-image {
        -ms-flex: 1 0 30%;
        flex: 1 0 30%;
        margin: 0 0.5em 1em 0.5em;
        transition: transform .3s ease-in, box-shadow .3s ease-in; }
        .portfolio .portfolio-image:nth-child(3n + 1) {
          margin-left: -1.5em; }
        .portfolio .portfolio-image:nth-child(3n + 3) {
          margin-right: -1.5em; }
        .portfolio .portfolio-image:hover {
          transform: scale(1.05) translate(-1%, -1%);
          box-shadow: 0 12px 12px -6px black; }
      .portfolio p {
        padding-top: 0;
        padding-right: 0.5em;
        padding-bottom: 0;
        padding-left: 0.5em; } }

.skills {
  padding-top: 1em;
  padding-right: 0;
  padding-bottom: 3em;
  padding-left: 0;
  background-color: #4285f4; }
  .skills p {
    margin-top: 1em;
    margin-right: 0;
    margin-bottom: 3em;
    margin-left: 0; }
  @media (min-width: 768px) {
    .skills {
      padding-top: 1em;
      padding-right: 0;
      padding-bottom: 2em;
      padding-left: 0; }
      .skills div {
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
      .skills .skills-image {
        -ms-flex: 1 0 40%;
        flex: 1 0 40%;
        margin: 0.5em; }
        .skills .skills-image:last-child {
          margin-top: 0;
          margin-right: 0.5em;
          margin-bottom: 0;
          margin-left: 0.5em;
          -ms-flex: 0 1 48%;
          flex: 0 1 48%; }
      .skills p {
        margin-top: 1em;
        margin-right: 0;
        margin-bottom: 3em;
        margin-left: 0;
        padding-top: 0;
        padding-right: 1em;
        padding-bottom: 0;
        padding-left: 1em; } }
  @media (min-width: 1024px) {
    .skills {
      margin-top: 0;
      margin-right: 2em;
      margin-bottom: 0;
      margin-left: 2em; }
      .skills .skills-image {
        -ms-flex: 1 0 30%;
        flex: 1 0 30%;
        margin: 0 0.5em 1em 0.5em;
        transition: transform .3s ease-in, box-shadow .3s ease-in; }
        .skills .skills-image:nth-child(3n + 1) {
          margin-left: -1.5em; }
        .skills .skills-image:nth-child(3n + 3) {
          margin-right: -1.5em; }
        .skills .skills-image:hover {
          transform: scale(1.05) translate(-1%, -1%);
          box-shadow: 0 12px 12px -6px black; }
        .skills .skills-image:last-child {
          -ms-flex: 1 0 30%;
          flex: 1 0 30%; }
      .skills p {
        padding-top: 0;
        padding-right: 0.5em;
        padding-bottom: 0;
        padding-left: 0.5em; } }

.contact {
  padding-top: 1em;
  padding-right: 0;
  padding-bottom: 4em;
  padding-left: 0;
  background-color: #f0f0f0; }
  .contact p {
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-left: 1em; }
    .contact p span {
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 10px;
      font-weight: bold; }
  @media (min-width: 768px) {
    .contact {
      padding-top: 0;
      padding-right: 4.5em;
      padding-bottom: 4em;
      padding-left: 4.5em; }
      .contact p {
        font-size: 1.25em; }
        .contact p:nth-child(3) {
          margin-top: 3em;
          margin-right: 0;
          margin-bottom: 0;
          margin-left: 0; } }

/*# sourceMappingURL=application.css.map */
