/* ===================================================
----- Global Imports -----
=================================================== */
/* ===================================================
----- Utilities Imports -----
=================================================== */
/* --- Flexbox --- */
.main-header, .nav, footer div, .profile-content, .portfolio div, .skills div {
  display: -ms-flexbox;
  display: flex; }

.main-header, .nav, .profile-content, .portfolio div, .skills div {
  -ms-flex-direction: column;
  flex-direction: column; }

/* ===================================================
----- Base Imports -----
=================================================== */
/* ----- BASE STYLES ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: whitesmoke; }

h1 {
  padding: 0.5em 0 1em;
  font-size: 1.5em; }

h2 {
  text-transform: uppercase;
  padding: 2.5em 0;
  font-size: 1.1em; }

h3 {
  font-size: 1.250em;
  margin: 1em auto;
  color: gray; }

h2,
h3,
p {
  text-align: center; }

p {
  color: gray;
  font-size: 0.9em; }
  @media (min-width: 768px) {
    p {
      font-size: 1em; } }

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-weight: bold; }

/* ===================================================
----- Components Imports -----
=================================================== */
/* --- Images --- */
img {
  max-width: 100%; }

/* ===================================================
----- Layout Imports -----
=================================================== */
/* ----- HEADER ----- */
header {
  padding: 1em 0; }

@media (min-width: 768px) {
  .nav {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

.header-logo {
  -ms-flex-item-align: center;
  align-self: center;
  text-transform: capitalize; }

/* ----- NAVIGATION ----- */
.nav li {
  list-style-type: none;
  background-color: #fff;
  margin-bottom: 0.5em;
  padding: 1em 0;
  text-align: center; }
  @media (min-width: 768px) {
    .nav li {
      background-color: inherit; } }

/* --- Wrappers --- */
.wrapper {
  width: 90%;
  margin: 0 auto; }

/* ----- FOOTER ----- */
footer {
  border-top: 1px solid lightgray;
  margin: 0 auto;
  width: 90%; }
  footer div {
    -ms-flex-item-align: center;
    font-size: 0.8em;
    align-self: center; }
  footer h4 {
    padding: 2em 0;
    margin-right: auto;
    font-size: 1em; }

.footer-logo {
  margin-right: auto; }

.mobile-hide {
  display: none; }

/* ===================================================
----- Sections Imports -----
=================================================== */
/* --- PROFILE Section --- */
.profile {
  padding-bottom: 3em; }
  .profile p {
    padding: 0 0.5em; }
  @media (min-width: 768px) {
    .profile {
      margin-top: 1em; } }

@media (min-width: 768px) {
  .profile-content {
    -ms-flex-direction: row;
    flex-direction: row; }
    .profile-content p {
      -ms-flex: 1 0 60%;
      flex: 1 0 60%;
      -ms-flex-order: 1;
      order: 1;
      text-align: left;
      font-size: 1.250em;
      padding-right: 1em; }
    .profile-content figure {
      -ms-flex: 1 0 40%;
      flex: 1 0 40%;
      -ms-flex-order: 2;
      order: 2; } }

.profile-image {
  padding: 1.5em 2em;
  margin: 0 auto;
  display: block; }
  @media (min-width: 768px) {
    .profile-image {
      padding: 0; } }

/* --- PORTFOLIO Section --- */
.portfolio {
  background-color: #fff;
  padding-bottom: 3em; }
  .portfolio p {
    margin: 1em 0 3em 0; }
  @media (min-width: 768px) {
    .portfolio {
      padding: 1em 0 1em 0; }
      .portfolio div {
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
      .portfolio .portfolio-image {
        -ms-flex: 1 0 40%;
        flex: 1 0 40%;
        margin: 0.5em; }
      .portfolio p {
        margin: 1em 0 3em 0;
        padding: 0 1em; } }

/* --- SKILLS Section --- */
.skills {
  background-color: #4285f4;
  padding: 1em 0 3em 0; }
  .skills h3 {
    color: #fff; }
  .skills p {
    margin: 1em 0 3em 0;
    color: #fff; }

/* --- CONTACT Section --- */
.contact {
  background-color: #f0f0f0;
  padding: 1em 0 4em 0; }

.contact p {
  margin-bottom: 1em; }

span {
  font-weight: bold;
  padding-left: 10px; }

/*# sourceMappingURL=application.css.map */
