// CONTACT Section
.contact {
	background-color: $color-background__contact;
	padding: 1em 0 4em 0;
	p {
		margin-bottom: 1em;
		span {
			font-weight: bold;
			padding-left: 10px;
		}
	}

	// start medium media query
	@include mq('medium') {
		padding: 0 4.5em 4em 4.5em;
		
		p {
			font-size: $font-size__large;
			&:nth-child(3) {
				margin-top: 3em;
			}
		}
	} // end medium media query
}
