// CONTACT Section
.contact {
	@include set-padding(1em, 0, 4em, 0);
	background-color: $color-background__contact;
	p {
		@include set-margin(1em, 1em, 1em, 1em);
		span {
			@include set-padding(0, 0, 0, 10px);
			font-weight: bold;
		}
	}

	// start medium media query
	@include mq('medium') {
		@include set-padding(0, 4.5em, 4em, 4.5em);
		
		p {
			font-size: $font-size__large;
			&:nth-child(3) {
				@include set-margin(3em, 0, 0, 0);
			}
		}
	} // end medium media query
}
