// PORTFOLIO Section
.portfolio {
	background-color: $color-background__portfolio;
	padding-bottom: 3em;
	div {
		@extend %flexbox;
		@extend %flexbox-column;
	}
	p {
		margin: 1em 0 3em 0; 
	}

	// start medium media query
	@include mq('medium') {
		padding: 1em 0 1em 0;
		
		div {
			@include flexbox-row;
			@include flexbox-wrap;
		}

		.portfolio-image {
			@include section-image-medium;
		}

		p {
			@include section-padding-medium;
		}
	} // end medium media query

	// start large media query
	@include mq('large') {
		margin: 0 2em;
		
		.portfolio-image {
			@include section-image-large;
		}

		p {
			padding: $padding-lr__half;
		}
	} // end large media query

}





















