// PROFILE Section
.profile {
	padding-bottom: 3em;
	
	@include mq('medium') {
		margin-top: 1em;
	}
}

.profile-image {
	padding: 1.5em 2em;
	margin: 0 auto;
	display: block;
	
	@include mq('medium') {
		padding: 0;
	}

	@include mq('large') {
		margin: 0 0 0 auto;
	}
}

.profile-content {
	@extend %flexbox;
	@extend %flexbox-column;
	
	@include mq('medium') {
		@include flexbox-row;
		
		p {
			-ms-flex: 1 0 60%;
			    flex: 1 0 60%;
			-ms-flex-order: 1;
			    order: 1;
			text-align: left;
			font-size: $font-size__large;
			padding: 0 1em 0 0.5em;
		}

		figure {
			-ms-flex: 1 0 40%;
			    flex: 1 0 40%;
			-ms-flex-order: 2;
			    order: 2;
		}
	}

	@include mq('large') {
		p {
			padding: 0 1.8em 0 0;
		}
	}
}
