// PROFILE Section
.profile {
	@include set-padding(0, 0, 3em, 0);
	
	@include mq('medium') {
		@include set-margin(1em, 0, 0, 0);
	}
}

.profile-image {
	@include set-padding(1.5em, 2em, 1.5em, 2em);
	margin: $center-margin;
	display: $display-show;
	
	@include mq('medium') {
		@include set-padding(0, 0, 0, 0);
	}

	@include mq('large') {
		@include set-margin(0, 0, 0, auto);
	}
}

.profile-content {
	@extend %flexbox;
	@extend %flexbox-column;
	
	@include mq('medium') {
		@include flexbox-row;
		
		p {
			@include set-padding(0, 1em, 0, 0.5em);
			-ms-flex: 1 0 60%;
			    flex: 1 0 60%;
			-ms-flex-order: 1;
			    order: 1;
			text-align: left;
			font-size: $font-size__large;
		}

		figure {
			-ms-flex: 1 0 40%;
			    flex: 1 0 40%;
			-ms-flex-order: 2;
			    order: 2;
		}
	}

	@include mq('large') {
		p {
			@include set-padding(0, 1.8em, 0, 0);
		}
	}
}
