// SKILLS Section
.skills {
	@include set-padding(1em, 0, 3em, 0);
	background-color: $color-background__skills;
	div {
		@extend %flexbox;
		@extend %flexbox-column;
	}
	h2 {
		@extend %white-text; 
	}
	h3 {
		@extend %white-text;
	}
	p {
		@extend %white-text;
		@include set-margin(1em, 0, 3em, 0);
	}

	// start medium media query
	@include mq('medium') {
		@include set-padding(1em, 0, 2em, 0);
		
		div {
			@include flexbox-row;
			@include flexbox-wrap;
		}

		.skills-image {
			@include section-image-medium;
			&:last-child {
				@include set-margin(0, 0.5em, 0, 0.5em);
				-ms-flex: 0 1 48%;
				    flex: 0 1 48%;
			}
		}

		p {
			@include set-margin(1em, 0, 3em, 0);
			@include set-padding(0, 1em, 0, 1em);
		}
	} // end medium media query
	
	// start large media query
	@include mq('large') {
		@include set-margin(0, 2em, 0, 2em);
		
		.skills-image {
			@include section-image-large;
				&:last-child {
					// @include set-margin(0.5em, 0, 0, 0);
					-ms-flex: 1 0 30%;
					    flex: 1 0 30%;
				}
		}

		p {
			@include set-padding(0, 0.5em, 0, 0.5em);
		}
	} // end medium media query
}


















