// SKILLS Section
.skills {
	background-color: $color-background__skills;
	padding: 1em 0 3em 0;
	div {
		@extend %flexbox;
		@extend %flexbox-column;
	}
	h2 {
		@extend %white-text; 
	}
	h3 {
		@extend %white-text;
	}
	p {
		@extend %white-text;
		margin: 1em 0 3em 0; 
	}

	// start medium media query
	@include mq('medium') {
		padding: 1em 0 2em 0;
		
		div {
			@include flexbox-row;
			@include flexbox-wrap;
		}

		.skills-image {
			@include section-image-medium;
			&:last-child {
				-ms-flex: 0 1 48%;
				    flex: 0 1 48%;
				margin: 0 0.5em 0 0.5em;
			}
		}

		p {
			@include section-padding-medium;
		}
	} // end medium media query
	
	// start large media query
	@include mq('large') {
		margin: 0 2em;
		
		.skills-image {
			@include section-image-large;
			&:last-child {
				-ms-flex: 1 0 30%;
				    flex: 1 0 30%;
				margin-top: 0.5em;
			}
		}

		p {
			padding: $padding-lr__half;
		}
	} // end medium media query
}


















