// Media Queries
@mixin mq($breakpoint) {
	@if $breakpoint == "medium" {
		@media (min-width: $breakpoint-medium) {
			@content;
		}
	}

	@else if $breakpoint == "large" {
		@media (min-width: $breakpoint-large) {
			@content;
		}
	}

	@else {
		@error "No value could be retreived for '#{$breakpoint}'.";
	}
}


// Flexbox (Flexbox mixins needed for media queries)
@mixin display-flexbox {
	display: -ms-flexbox;
	display: flex;
}

@mixin flexbox-row {
	-ms-flex-direction: row;
	    flex-direction: row;
}

@mixin flexbox-space-around {
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

@mixin flexbox-wrap {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

@mixin flexbox-align-self {
	-ms-flex-item-align: center;
	    align-self: center;
}


// Section Images
@mixin section-image-medium {
	-ms-flex: 1 0 40%;
	    flex: 1 0 40%;
	margin: 0.5em;
}

@mixin section-image-large {
	-ms-flex: 1 0 30%;
	    flex: 1 0 30%;
	margin: 0 0.5em 1em 0.5em;
	
	transition: transform .3s ease-in,
							box-shadow .3s ease-in;
							
	&:nth-child(3n + 1) {
		margin-left: -1.5em;
	}
	&:nth-child(3n + 3) {
		margin-right: -1.5em;
	}
	&:hover {
		transform: scale(1.05) translate(-1%, -1%);
		box-shadow: 0 12px 12px -6px black;
	}
}

// Section Padding
@mixin section-padding-medium {
	margin: 1em 0 3em 0;
	padding: 0 1em;
}



