// Media Queries
@mixin mq($breakpoint) {
	@if $breakpoint == "medium" {
		@media (min-width: $breakpoint-medium) {
			@content;
		}
	}

	@else if $breakpoint == "large" {
		@media (min-width: $breakpoint-large) {
			@content;
		}
	}

	@else {
		@error "No value could be retreived for '#{$breakpoint}'.";
	}
}

// Flexbox (Flexbox mixins needed for media queries)
@mixin flexbox-row {
	-ms-flex-direction: row;
	    flex-direction: row;
}

@mixin flexbox-space-around {
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}