// Flexbox
%flexbox {
	display: -ms-flexbox;
	display: flex;
}

%flexbox-column {
	-ms-flex-direction: column;
	    flex-direction: column;
}

%flexbox-row {
	// @include flexbox-row;
	// @mixin needed for use in media queries
}

%flexbox-space-around {
	// @include flexbox-space-around;
	// @mixin needed for use in media queries
}

// Icon
%bar-icon {
	@include set-margin(6px, 0, 6px, 0);
	width: 35px;
	height: 5px;
	background-color: $black;
	
	transition: 0.4s;
}

// Text
%center {
	text-align: center;
}

%white-text {
	color: $color-text__base;
}

%uppercase {
	text-transform: uppercase;
}

// Margin
%margin-right-auto {
	margin-right: auto;
}