// FOOTER
footer {
	border-top: 1px solid $gray;
	margin: $center-margin;
	width: 90%;
	div {
		@extend %flexbox;
		@include flexbox-align-self;
		font-size: $font-size__x-small;
	}
	h4 {
		@extend %margin-right-auto;
		@include set-padding(2em, 0, 2em, 0);
		font-size: $font-size__default;
	}
	.footer-nav {
		display: $display-hide;
	}

	.footer-logo {
		@extend %margin-right-auto;
	}

	// start medium media query
	@include mq('medium') {
		.desktop-hide {
			display: $display-hide;
		}

		.footer-nav {
			@include display-flexbox;
			.nav {
				@include display-flexbox;
				@include flexbox-row;
				@include flexbox-space-around;
				@include set-margin(1.5em, 0, 1.5em, 0);
				li {
					@include flexbox-align-self;
					@include set-margin(0, 0, 0.5em, 1em);
					list-style-type: none;
					background-color: inherit;
					text-align: $center-text;
					font-size: $font-size__small;
				}
			}
		}

		h4 {
			font-size: $font-size__large;
		}
	} // end medium media query
}