/* ----- FOOTER ----- */
footer {
	border-top: 1px solid lightgray;
	margin: 0 auto;
	width: 90%;
	div {
		@extend %flexbox;
		-ms-flex-item-align: center;
		font-size: 0.8em;
		align-self: center;
	}
	h4 {
		padding: 2em 0;
		margin-right: auto;
		font-size: 1em;
	}
}

.footer-logo {
	margin-right: auto;
}

.mobile-hide {
	display: none;
}