/* ----- HEADER ----- */
header {
	padding: 1em 0;
}

.main-header,
.nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
}

.header-logo {
	-ms-flex-item-align: center;
	    align-self: center;
	text-transform: capitalize;
}

/* ----- NAVIGATION ----- */
.main-nav ul li {
	list-style-type: none;
	background-color: #fff;
	margin-bottom: 0.5em;
	padding: 1em 0;
	text-align: center;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
}