// HEADER
.main-header {
	@extend %flexbox;
	@extend %flexbox-column;
	padding: 1em 0;
	
	.header-logo {
		@include flexbox-align-self;
		text-transform: capitalize;
	}

	@include mq('large') {
		@include flexbox-row;
		margin: 1.5em 0;
		
		.header-logo {
			margin-right: auto;
		}
	}
}



// NAVIGATION
.main-nav {
	.nav {
		@extend %flexbox;
		@extend %flexbox-column;
		
		li {
			@extend %center;
			list-style-type: none;
			background-color: $color-background__li;
			margin-bottom: 0.5em;
			padding: 1em 0;
		}
		
		// medium media query
		@include mq('medium') {
			@include flexbox-row;
			@include flexbox-space-around;
			
			li {
				background-color: inherit;
			}
		}// <-- end of medium media query
		
		@include mq('large') {
			li {
				margin: 0.5em 0 0 2em;
			}
		}
	}
}

