/* ----- HEADER ----- */
header {
	padding: 1em 0;
}

.main-header {
	@extend %flexbox;
	@extend %flexbox-column;
}

.nav {
	@extend %flexbox;
	@extend %flexbox-column;
	
	@include mq('medium') {
		@include flexbox-row;
		@include flexbox-space-around;
	}
}

.header-logo {
	-ms-flex-item-align: center;
	    align-self: center;
	text-transform: capitalize;
}

/* ----- NAVIGATION ----- */
.nav {
	li {
		list-style-type: none;
		background-color: #fff;
		margin-bottom: 0.5em;
		padding: 1em 0;
		text-align: center;
		
		@include mq('medium') {
			background-color: inherit;
		}
	}
}
