.icon {
	margin: $center-margin;
	span {
		display: $display-show;
	}

	@include mq('medium') {
		display: $display-hide !important;
	}
}

.bar1 {
	@extend %bar-icon;
}
.bar2 {
	@extend %bar-icon;
}
.bar3 {
	@extend %bar-icon;
}

.change {
	.bar1 {
		// transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-10px, -6px);
	}
	.bar2 {
		// opacity: 0;
		transform: rotate(-90deg);
	}
	.bar3 {
		// transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(-315deg) translate(-6px, -21px);
	}
}