// BASE Styles
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-primary; 
	background-color: $color-background__body;
}

h1 {
	padding: 0.5em 0 1em;
	font-size: $font-size__x-large;
}

h2 {
	@extend %center;
	@extend %uppercase;
	padding: 2.5em 0;
	font-size: $font-size__medium;
}

h3 {
	@extend %center;
	font-size: $font-size__large;
	margin: 1em auto;
	color: $color-text__h3;
}

p {
	@extend %center;
	color: $color-text__paragraph;
	font-size: $font-size__small;
	
	@include mq('medium') {
		font-size: $font-size__default; 
	}
}

a {
	@extend %uppercase;
	text-decoration: none;
	color: $color-text__anchor-links;
	font-weight: bold;
}




