// BASE Styles
* {
	@include set-margin(0, 0, 0, 0);
	@include set-padding(0, 0, 0, 0);
	box-sizing: border-box;
}

body {
	font-family: $font-primary; 
	background-color: $color-background__body;
}

h1 {
	@include set-padding(0.5em, 0, 1em, 0);
	font-size: $font-size__x-large;
}

h2 {
	@extend %center;
	@extend %uppercase;
	@include set-padding(2.5em, 0, 2.5em, 0);
	font-size: $font-size__medium;
}

h3 {
	@extend %center;
	@include set-margin(1em, auto, 1em, auto);
	font-size: $font-size__large;
	color: $color-text__h3;
}

p {
	@extend %center;
	color: $color-text__paragraph;
	font-size: $font-size__small;
	
	@include mq('medium') {
		font-size: $font-size__default; 
	}
}

a {
	@extend %uppercase;
	text-decoration: none;
	color: $color-text__anchor-links;
	font-weight: bold;
}




